# Virtual environment
venv/
.venv/

# Django
__pycache__/
*.py[cod]
db.sqlite3

# Environment variables
.env

# Machine Learning models
*.safetensors
*.pt
*.pth
*.bin

# DistilBERT model folder
predictor/ml/distilbert/
predictor/ml/models/
predictor/ml/*.pkl

# Logs
*.log
.env
